<h1>All products</h1>

<div class="row">
  <div class="col-sm-6">
    <h3>Add Product to Inventory</h3>

    <form action="/product" method="post">
      <label for="new_product_name">Product Name</label>
      <input type="text" name="new_product_name">
      <label for="new_product_price">Product Price</label>
      <input type="money" name="new_product_price">
      <button type="submit" name="button">Add Product</button>
    </form>
  </div>
  <div class="col-sm-6">
    <h3>INVENTORY</h3>
    <% if @products.any? %>

    <ul>
      <% @products.each do |product| %>
      <li><%= product.name%>  $<%= product.price%> <%if product.sold%>
        <p>SOLD</p>
        <% else %>
        <p>AVAILABLE</p>
        <% end %>
        <form action="/product/<%= product.id()%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="button">Delete</button></li>
  </form></li>
      <% end %>
    </ul>
    <% else %>
    <h4>There are no products yet</h4>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <form action="/product/edit" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="product_update">Select Item to Update</label>
      <select id="product_update" name="product_update" type="text">
        <% @products.each() do |product| %>
          <option value="<%= product.id %>"><%= product.name %></option>
        <% end %>
      </select>
      <label for="name_update">New name:</label>
      <input type="text" name="name_update">
      <label for="price_update">New price:</label>
      <input type="money" name="price_update">
      <label for="is_sold">Available</label>
      <input type="checkbox" name="is_sold" value="false">
      <label for="is_sold">Sold</label>
      <input type="checkbox" name="is_sold" value="true">
      <button type="submit">Update Item</button>
    </form>
  </div>
</div>
